@font-face{
  font-family: "Noto Sans";
  font-weight: 100;
  font-style: normal;
  src: url("//bugfactory.io/fonts/notosans-100-normal-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-100-normal-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 100;
  font-style: italic;
  src: url("//bugfactory.io/fonts/notosans-100-italic-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-100-italic-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 200;
  font-style: normal;
  src: url("//bugfactory.io/fonts/notosans-200-normal-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-200-normal-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 200;
  font-style: italic;
  src: url("//bugfactory.io/fonts/notosans-200-italic-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-200-italic-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 300;
  font-style: normal;
  src: url("//bugfactory.io/fonts/notosans-300-normal-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-300-normal-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 300;
  font-style: italic;
  src: url("//bugfactory.io/fonts/notosans-300-italic-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-300-italic-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;
  src: url("//bugfactory.io/fonts/notosans-400-normal-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-400-normal-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: italic;
  src: url("//bugfactory.io/fonts/notosans-400-italic-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-400-italic-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 600;
  font-style: normal;
  src: url("//bugfactory.io/fonts/notosans-600-normal-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-600-normal-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 600;
  font-style: italic;
  src: url("//bugfactory.io/fonts/notosans-600-italic-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-600-italic-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;
  src: url("//bugfactory.io/fonts/notosans-700-normal-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-700-normal-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: italic;
  src: url("//bugfactory.io/fonts/notosans-700-italic-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-700-italic-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 800;
  font-style: normal;
  src: url("//bugfactory.io/fonts/notosans-800-normal-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-800-normal-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 800;
  font-style: italic;
  src: url("//bugfactory.io/fonts/notosans-800-italic-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-800-italic-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 900;
  font-style: normal;
  src: url("//bugfactory.io/fonts/notosans-900-normal-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-900-normal-webfont.woff") format("woff");
}

@font-face{
  font-family: "Noto Sans";
  font-weight: 900;
  font-style: italic;
  src: url("//bugfactory.io/fonts/notosans-900-italic-webfont.woff2") format("woff2"),
       url("//bugfactory.io/fonts/notosans-900-italic-webfont.woff") format("woff");
}

body {
  font-family: "Noto Sans", sans-serif;
}
