<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title></title>
    <base href="<%= htmlWebpackPlugin.options.base %>">
    <link rel="shortcut icon" href="favicon.png" type="image/png"/>
    <% htmlWebpackPlugin.files.css.forEach((file) => { %>
      <link href="<%= file %>" rel="stylesheet"/>
    <% }) %>
  </head>
  <body>
    <% htmlWebpackPlugin.files.js.forEach((file) => { %>
      <script src="<%= file %>"></script>
    <% }) %>
    <script>window.Main.create(<%= JSON.stringify(htmlWebpackPlugin.options.flags) %>)</script>
  </body>
</html>
