<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Tic-Tac-Toe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  </head>
  <body>
    <script src="/<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script>window.Main.init()</script>
  </body>
</html>
