<!doctype html>
<html lang="en">
  <% flags = htmlWebpackPlugin.options.flags %>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <% htmlWebpackPlugin.files.css.forEach((file) => { %>
      <link rel="stylesheet" src="/<%= file %>"/>
    <% }) %>
  </head>
  <body style="margin: 0;">
    <% htmlWebpackPlugin.files.js.forEach((file) => { %>
      <script src="/<%= file %>"></script>
    <% }) %>
    <script>window.Main.create(<%= JSON.stringify(flags) %>)</script>
  </body>
</html>
